.about-title {
  position: relative;
  top: 36px;
  margin-top: 92px;
}

.email-link {
  display: inline-block;
  color: var(--primary-color);
  font-family: var(--titles-font);
  letter-spacing: 1px;
  text-decoration: none;
  transform: rotate(-90deg);
}

.email-link:hover {
  color: var(--icon-color);
  transition: all 200ms ease-in-out;
}

.email-link::after {
  background: var(--primary-color);
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 135px;
  right: 50%;
  transform-origin: right;
  transform: rotate(90deg);
  width: 90px;
}

.about-img {
  width: 100%;
  width: 500px;
  z-index: -1;
}

.about-img,
.email-link {
  position: relative;
  left: -115px;
  top: 272px;
}

.about-text {
  background: var(--background-color);
  font-family: var(--paragraph-font);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 200%;
  padding: 63px;
}

.image-email {
  background-image: url(/public/images/spots.svg);
  background-repeat: no-repeat;
  background-size: 380px;
}

.about-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: white !important;
  font-family: var(--paragraph-font);
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: -28px;
  padding: 16px !important;
  position: relative;
  bottom: 212px;
}

.about-button:hover {
  background-color: var(--icon-color) !important;
  border-color: var(--icon-color) !important;
  color: white;
  transition: all 200ms ease-in-out;
}

.about-leaf {
  display: block;
  margin-bottom: -98px;
  position: relative;
  bottom: 142px;
  max-width: 100%;
  margin: 0 auto;
  width: 480px;
  z-index: -1;
}

@media (max-width: 960px) {
  .about-title {
    margin-top: 52px;
  }

  .about-button {
    bottom: 156px;
  }

  .about-leaf {
    width: 200px;
    margin-right: -10px;
    transform: rotate(-20deg);
    z-index: 1;
  }
}
