:root {
  --titles-font: "Playfair Display", serif;
  --paragraph-font: "Raleway", sans-serif;
  --paragraph-color: #3d3d3d;
  --primary-color: #bb5a5a;
  --secondary-color: #fbf5f0;
  --icon-color: #e79e85;
}
