h1 {
  color: var(--primary-color);
  font-family: var(--titles-font);
}

.hello {
  margin-top: 100px;
}

.introduction-text p {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: 18px;
}

.portada {
  max-width: 602px;
}
