.Navbar .navbar {
  background-color: var(--background-color) !important;
  font-family: var(--paragraph-font);
}

.Navbar .logo {
  color: var(--primary-color);
  max-width: 60px;
}

.Navbar a {
  color: var(--primary-color) !important;
  font-size: 14px;
  letter-spacing: 2px;
}

.about,
.projects {
  margin-right: 35px;
}

.Navbar .vertical-line {
  border-right: 1px solid var(--primary-color);
  height: 28px;
  margin: 0 35px 0 35px;
}

.Navbar .github-icon,
.envelope-icon,
.linkedin-icon,
.instagram-icon {
  color: #e79e85;
  font-size: 14px;
}

/* hover effects */

.about,
.projects,
.contact {
  position: relative;
}

.about::after,
.projects::after,
.contact::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 11px;
  width: 100%;
  height: 8px;
  background: radial-gradient(
    circle,
    rgba(231, 158, 133, 0.2) 62%,
    rgba(251, 245, 241, 1) 100%
  );
  border-radius: 0.8em 0.3em;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
  z-index: -1;
}

.about:hover::after,
.projects:hover::after,
.contact:hover::after {
  transform: scaleX(1);
}

.Navbar .github-icon:hover,
.envelope-icon:hover,
.linkedin-icon:hover,
.instagram-icon:hover {
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

@media (max-width: 960px) {
  .Navbar .vertical-line {
    display: none;
  }

  .Navbar .github-icon,
  .envelope-icon,
  .linkedin-icon,
  .instagram-icon {
    padding: 3px;
  }
}
